<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joebot</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body class="dark-mode">
    
    <!-- Control Center -->
    <button id="toggleDarkMode" onclick="toggleDarkMode()" >☀️</button>
    <button id="clearHistory" onclick="clearChatHistory()" >🗑️</button>

    <div id="chatArea">
        <!-- Chat messages will appear here -->
    </div>
    <div id="inputArea">
        <input type="text" 
               id="message" 
               placeholder="Type your message, Enter to send..." 
               onkeydown="if(event.keyCode == 13) 
                              sendMessage();" 
               oninput="adjustInputSize();">

        <!-- <button onclick="sendMessage()">Send</button> -->
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
